---
title: Overview | Fabricator
fabricator: true
---

<section>
	<h1>Overview</h1>

	<p>This UI toolkit is a highly-modular design system for rapid web page development. It contains different materials that can be assembled into more complex page layouts.</p>

	<p>This guide contains real working examples, code snippets, documentation, and style guidelines.</p>
</section>

<section>
	<h2>Usage</h2>

	<p>Start by adding the following files to your page:</p>

	<pre class="language-markup"><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;assets/toolkit/styles/toolkit.css&quot;&gt;</code></pre>
	<pre class="language-markup"><code class="language-markup">&lt;script src=&quot;assets/toolkit/scripts/toolkit.js&quot;&gt;&lt;/script&gt;</code></pre>
</section>

<section>
	<h2>Color</h2>

	{{#each toolkit.colors}}
		<div class="f-color-chips">
		{{#each this}}
			<div class="f-color-chip">
				<div class="f-color-chip__name">{{@key}}</div>
				<div class="f-color-chip__color">{{this}}</div>
			</div>
		{{/each}}
		</div>
	{{/each}}
</section>

<section>
	<h2>Grid</h2>
  <div class="f-grid">
    <div class="row">
      {{#loop 1 12 1}}
      <div class="col-md-1">.col-md-1</div>
      {{/loop}}
    </div>
    <div class="row">
      {{#loop 1 6 1}}
      <div class="col-md-2">.col-md-2</div>
      {{/loop}}
    </div>
    <div class="row">
      {{#loop 1 4 1}}
      <div class="col-md-3">.col-md-3</div>
      {{/loop}}
    </div>
    <div class="row">
      {{#loop 1 3 1}}
      <div class="col-md-4">.col-md-4</div>
      {{/loop}}
    </div>
    <div class="row">
      <div class="col-md-6">.col-md-6</div>
      <div class="col-md-6">.col-md-6</div>
    </div>
    <div class="row">
      <div class="col-md-8">.col-md-8</div>
      <div class="col-md-4">.col-md-4</div>
    </div>
    <div class="row">
      <div class="col-md-10">.col-md-10</div>
      <div class="col-md-2">.col-md-2</div>
    </div>
    <div class="row">
      <div class="col-md-12">.col-md-12</div>
    </div>
  </div>
</section>
