.creative-preview {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;

  img {
    width: 100%;
    height: auto;
  }

  * {
    width: 25%;
    flex-grow: 1;
    alignment-items: stretch;

    &:first-child {
      width: 75%;
    }

    &:first-child {
      &:last-child {
        width: 100%;
      }
    }
  }

  .disqus-container {
    position: relative;
    padding: 0 10px;
  }

}
